VEO_HOST=127.0.0.1
VEO_PORT=8765
VEO_CDP_URL=http://127.0.0.1:9223
VEO_FLOW_URL=https://labs.google/fx/tools/flow
VEO_FLOW_TIMEOUT=480
VEO_MAX_UPLOAD_MB=500
# Set to 1 to test end-to-end without Google Flow or Edge.
VEO_MOCK_FLOW=0
FFMPEG_BIN=ffmpeg
FFPROBE_BIN=ffprobe
